@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

html {
    scroll-behavior: smooth;
}

/* Variables */
:root {
    /** Colors **/
    --bg: oklch(96.3% 0 0);
    --bg-card: oklch(92.5% 0 0);
    --bg-half: oklch(88.2% 0 0);
    --bg-dark: oklch(83.5% 0 0);

    --text: oklch(96.3% 0 0);
    --text-primary: oklch(25.6% 0.046 250);
    --text-hover: oklch(40% 0.046 250);

    --primary-1000: oklch(17.6% 0.027 269);
    --primary-900: oklch(21.0% 0.045 263);
    --primary-800: oklch(27.3% 0.091 264);
    --primary-700: oklch(35.3% 0.126 263);
    --primary-600: oklch(41.5% 0.139 263);
    --primary-500: oklch(48.0% 0.156 263);
    --primary-400: oklch(52.4% 0.104 264);
    --primary-300: oklch(62.3% 0.080 264);
    --primary-200: oklch(75.1% 0.056 264);
    --primary-100: oklch(87.1% 0.031 264);
    --primary-50: oklch(93.4% 0.017 264);

    /** Warnings **/
    --danger: oklch(0.7 0.08 30);
    --warning: oklch(0.7 0.08 100);
    --success: oklch(0.7 0.08 160);
    --info: oklch(0.7 0.08 260);

    /** Fonts **/
    --ff: "Poppins", sans-serif;
    --h1: 700 4.0rem/1.1em var(--ff);
    --h2: 700 3.0rem/1.1em var(--ff);
    --h3: 600 2.5rem/1.1em var(--ff);
    --h4: 600 2.0rem/1.1em var(--ff);
    --h5: 600 1.5rem/1.1em var(--ff);
    --h6: 600 1.25rem/1.1em var(--ff);
    --p: 400 1rem/1.5em var(--ff);
    --links: 600 0.875rem/1.5em var(--ff);
    --light: 300 1rem/1.5 var(--ff);
    --small: 400 0.875rem/1.5em var(--ff);
    --extra-small: 400 0.563rem/1.5em var(--ff);
    --semi-bold: 600 1rem/1.5em var(--ff);

    /** Spacing **/
    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 60px;
    --spacing7: 80px;
    --spacing8: 160px;

    /** Shadows & Gradients **/
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-card));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-card));
    --border-card: solid 1px var(--border);
    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
    --transition: 0.3s ease-in-out;
}

/** Font Resets **/
h1 {
    font: var(--h1);
    line-height: 100%;
    letter-spacing: -2%;
}

h2 {
    font: var(--h2);
    line-height: 110%;
    letter-spacing: -1.5%;
}

h3 {
    font: var(--h3);
    line-height: 110%;
    letter-spacing: -1.5%;
}

h4 {
    font: var(--h4);
    line-height: 130%;
    letter-spacing: -0.5%;
}

h5 {
    font: var(--h5);
    line-height: 130%;
    letter-spacing: -0.5%;
}

h6 {
    font: var(--h6);
    line-height: 130%;
    letter-spacing: -0.5%;
}

p {
    font: var(--p);
    line-height: 150%;
    letter-spacing: 3%;
}




/** Start CSS **/
body {
    background: var(--bg);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--primary-500);
    color: var(--bg);
    font: var(--h6);
    padding: 16px 24px;
    border-radius: 8px;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;

    transition: background-color 0.15s ease-in;
}

button:hover {
    background-color: var(--primary-600);
}

/** Nav **/
.nav {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.links {
    font: var(--links);
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: var(--text-primary);
    font: var(--p);
}

.links:hover {
    color: var(--text-hover);
}

.button {
    background-color: var(--primary-500);
    color: var(--bg);
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    box-shadow: var(--shadow);

    transition: background-color 0.15s ease-in;
}

.button:hover {
    background-color: var(--primary-600);
    color: var(--bg);
}

/** Hero **/
.hero {
    position: relative;
    background: linear-gradient(to right, var(--primary-800), transparent), url("../assets/main/projects/caroline_000_6742.jpg") center/cover no-repeat;
    width: 100%;
    height: 950px;
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: calc(100% - 200px);
    align-items: center;
}

.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    line-height: 0;
}

/** Helper **/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.semi {
    font: var(--semi-bold);
}

.light {
    font: var(--light);
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.max-w-4 {
    max-width: 450px;
}

.s-1 {
    gap: var(--spacing1);
}

.s-2 {
    gap: var(--spacing2);
}

.s-3 {
    gap: var(--spacing3);
}

.s-4 {
    gap: var(--spacing4);
}

.s-5 {
    gap: var(--spacing5);
}

.s-6 {
    gap: var(--spacing6);
}

.s-7 {
    gap: var(--spacing7);
}
